[submodule "Year 1/Semester 1/CS100 - Basic Web Development/Projects/Final - Street Booth"]
	path = Year 1/Semester 1/CS100 - Basic Web Development/Projects/Final - Street Booth
	url = https://github.com/nrokariw/G10_OurFestival.git
