@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caprasimo&family=Quicksand:wght@300..700&display=swap");

/* Global / Base Styles */

body {
  margin: 0;
  padding: 0;
  background: var(--lighter-pink);
}

.text-muted {
  font-family: "Quicksand", sans-serif;
}

/* Layout */
.container {
  padding-top: 10vh;
  min-height: 75vh;
}

/* Feedback Field Component */
.feedback-field {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 50px;
  position: relative;
}

.feedback-field .row {
  justify-content: center;
  gap: 30px;
}

.feedback-field :is(label) {
  font-family: "Quicksand", sans-serif;
  color: var(--p-light);
}

.feedback-field :is(h2) {
  color: var(--h2);
}

.feedback-field :is(h4) {
  color: var(--h4);
}

.feedback-field :is(p) {
  color: var(--p-light);
}

.feedback-field h2,
.feedback-field h4,
.feedback-field p {
  margin-bottom: 5px;
}

/* Primary Field */
.primary-field {
  background-color: var(--bgc-light);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Forms */
#feedback-form .form-label {
  font-weight: 600;
}

#feedback-form .form-control,
#feedback-form .form-select,
#feedback-form textarea {
  border-radius: 6px;
  border: 1px solid var(--bdr-light);
  background-color: var(--bgc-light);
  transition: 0.2s ease;
  color: var(--p-light);
}

#feedback-form .form-control:focus,
#feedback-form .form-select:focus,
#feedback-form textarea:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

/* Radio Buttons */
.form-check-inline {
  margin-right: 15px;
}

input[type="radio"].form-check-input {
  width: 2em;
  height: 1em;
  border-color: var(--light-pinkest);
}

input[type="radio"].form-check-input:checked {
  background-color: var(--light-pinkest);
}

input[type="radio"].form-check-input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

/* Checkboxes */
input[type="checkbox"].form-check-input {
  background-color: var(--light-pinkest);
  border-color: var(--light-pinker);
  transition: 0.4 all ease;
}

input[type="checkbox"].form-check-input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

input[type="checkbox"].form-check-input:checked {
  background-color: var(--h4);
}

/* Buttons */
#feedback-form .btn-primary {
  background-color: var(--h4);
  border-color: var(--h4);
  transition: all 0.4s ease;
}

#feedback-form .btn-primary:hover {
  background-color: var(--darker-green-apple);
  border-color: var(--darker-green-apple);
}

#feedback-form .btn-secondary {
  color: var(--lighter-pinker);
  background-color: var(--bgc-light);
  border-color: var(--bgc-light);
  transition: all 0.4 ease;
}

#feedback-form .btn-secondary:hover {
  background-color: var(--light-pinkest);
  border-color: var(--light-pinkest);
  transition: 0.4s all ease;
}

/* Shared Button States */
#feedback-form .btn-primary:hover,
#feedback-form .btn-secondary:hover {
  scale: 1.04;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  color: var(--p-dark);
}

#feedback-form .btn-primary:active,
#feedback-form .btn-secondary:active {
  scale: 0.96;
}

/* Link Field Buttons */
.a-field > .btn-primary,
.a-field > .btn-secondary {
  background: none;
  border: none;
  color: var(--p-light);
  transition: 0.4s all ease;
}

.a-field > .btn-primary:hover,
.a-field > .btn-secondary:hover {
  color: var(--p-dark);
  background-color: var(--light-pinkest);
  scale: 1.04;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Specific Sections */
.recent-field > h2 {
  align-self: center;
}

#feedback-form .d-flex.justify-content-between {
  margin-top: 15px;
}

/* Media Queries */
@media (max-width: 768px) {
  .feedback-field .primary-field {
    margin-left: 20px;
    padding: 20px;
  }

  #feedback-form .d-flex.justify-content-between {
    flex-direction: column;
    gap: 10px;
  }
}

/* Dark Mode */

body.dark-mode .primary-field , 
body.dark-mode #feedback-form .form-control,
body.dark-mode #feedback-form .form-select,
body.dark-mode #feedback-form textarea{
  background-color: var(--darkest-pink);
  border-color: var(--darker-pink);
  color: var(--p-dark);
}

body.dark-mode p,
body.dark-mode label{
  color: var(--p-dark);
}

/* Buttons Dark mode*/
body.dark-mode #feedback-form .btn-primary {
  background-color: var(--darker-greener-apple);
  border-color: var(--darker-greener-apple);
}

body.dark-mode #feedback-form .btn-primary:hover {
  background-color: var(--h4);
  border-color: var(--h4);
}

body.dark-mode #feedback-form .btn-secondary {
  color: var(--p-dark);
  background-color: var(--darkest-pink);
  border-color: var(--darkest-pink);
}

body.dark-mode #feedback-form .btn-secondary:hover {
  background-color: var(--dark-pink);
  border-color: var(--dark-pink);
  color: var(--p-dark);
}

/* Radio Buttons Dark mode */
body.dark-mode .form-check-inline {
  margin-right: 15px;
}

body.dark-mode input[type="radio"].form-check-input {
  border-color: var(--darker-pink);
  background-color: var(--bg-darker-pink);

}

body.dark-mode input[type="radio"].form-check-input:checked {
  background-color: var(--dark-pink);
}

/* Link Dark mode */

body.dark-mode .a-field > .btn-primary,
body.dark-mode .a-field > .btn-secondary {
  color: var(--dark-pink);
}

body.dark-mode .a-field > .btn-primary:hover,
body.dark-mode .a-field > .btn-secondary:hover {
  background-color: var(--dark-pink);
  color: var(--p-dark);
}

/* Checkboxes Dark mode*/
body.dark-mode input[type="checkbox"].form-check-input {
  background-color: var(--darkest-pink);
  border-color: var(--darker-pink);
}

body.dark-mode input[type="checkbox"].form-check-input:checked {
  background-color: var(--h4);
}